/* Description */

body {
  width: 100%;
  height: 100%;
}

.description p {
    color: #99AAAA;
    width: 96%;
    font-weight: 100;
    font-family:Verdana;
    font-size: 16px;
    letter-spacing: -2px;
    -webkit-text-stroke-color: rgba(255,255,255,1);
    -webkit-text-stroke-width: 0.5px;
    -webkit-font-smoothing: antialiased;
/*    border-radius: 25px;
    border: 1px dashed #99AAAA;  */
    padding: 10px 10px 0px 10px;
	margin: 45px auto 0px auto; 
	text-align: center; 
  opacity: 0.6;
}

h1 {
  color: #99AAAA;
  width: 96%;
  font-weight: 100;
  font-size: 60px;
  text-align: center;
  margin: auto;

  padding-top: 75px;
}


/* Hellos */

.content {
  color: #99AAAA;
  line-height: 100px;
  height: 160px;
  opacity: 1;
  overflow: hidden;
  font-weight: 100;
  font-weight: 100;
  font-family:Verdana;
  font-size: 20px;
  letter-spacing: -2px;
  text-align: center; 
  opacity: 0.8;
    -webkit-text-stroke-color: rgba(255,255,255,1);
    -webkit-text-stroke-width: 0.5px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: -160px;
}

.visible {
  overflow: hidden;
  height: 40px;
}

/*
.visible:before {
  content: '[';
  left: 0;
  line-height: 40px;
}
.visible:after {
  content: ']';
  position: absolute;
  right: 0;
  line-height: 40px;
}
*/
.visible:after, .visible:before {
  top: 0;
  color: #779988;
  font-size: 12px;
  -webkit-animation: 2s linear 0s normal none infinite opacity;
          animation: 2s linear 0s normal none infinite opacity;
}

p {
  display: inline;
  float: left;
  margin: 0; 
}

ul {
  margin-top: 0; 
  padding-left: 5px;
  list-style: none;
  -webkit-animation: 6s linear 0s normal none infinite change;
          animation: 6s linear 0s normal none infinite change;
}

ul li {
  line-height: 40px;
  margin: 0; 
  text-align: center;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
/*
@-webkit-keyframes change {
  0%, 12%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  17%,29% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  34%,46% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  51%,63% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
  68%,80% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  85%,97% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
}
*/

@keyframes change {
  0%, 12%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  17%,29% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  34%,46% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  49%,65% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
  68%,80% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  85%,97% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
}

/* Footer & Nav Pages */
#footer {
    position: absolute;
    bottom:0;
    width:100%;
    height:40px;   /* Height of the footer */
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.nav a {
    text-decoration: none;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;    
    color: #99AAAA;
    text-align: center;
    display: inline-block;
    margin-right: 20px; 
    border-radius: 25px;
    border: 1px solid #99AAAA;
    padding: 0 5px 0 5px;
}

.nav a:nth-child(3){
    background-color: #99AAAA;
    color: white;
}

.nav a:hover {
    text-decoration: none;
    color: white;
    background-color: #99AAAA;

}




@keyframes drawLine {
  100% {
    stroke-dashoffset: 0;
  }
}


 /* svg */

 .nyc-line {
  stroke: #99AAAA;
  stroke-width: 2;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation: drawLine 20s linear forwards;
  position: relative;
}

#nyc-target {
	transform: translate(-10px,-100px);
	-ms-transform: translate(-10px,-100px); /* IE 9 */
	-webkit-transform: translate(-10px,-100px); /* Safari and Chrome */
	-o-transform: translate(-10px,-100px); /* Opera */
	-moz-transform: translate(-10px,-100px); /* Firefox */
}


